<div class="breadcrumb-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-inner text-center">
                    <h1 class="page-title">Contact</h1>
                    <div class="breadcrumb-list">
                        <ul>
                            <li>
                                <a routerLink="/home">Home</a>
                            </li>
                            <li>Contact</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="contact-address-area mb-60">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="contact-address-item">
                    <div class="contact-address-icon">
                        <i class="icon-location-pin"></i>
                    </div>
                    <h3>Email Address</h3>
                    <p>
                        info@webmail.com
                        <br>
                        jobs@webexample.com
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="contact-address-item">
                    <div class="contact-address-icon">
                        <i class="icon-phone"></i>
                    </div>
                    <h3>Phone Number</h3>
                    <p>
                        +1234-567 890
                        <br>
                        +09876-543 210
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="contact-address-item">
                    <div class="contact-address-icon">
                        <i class="icon-envelope"></i>
                    </div>
                    <h3>Email & Web</h3>
                    <p>
                        info@webmail.com
                        <br>
                        jobs@webexample.com
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="contact-address-item">
                    <div class="contact-address-icon">
                        <i class="icon-speedometer"></i>
                    </div>
                    <h3>Opening Hours</h3>
                    <p>
                        Fri to Wed: 6:00 Am to 8:00 Pm 
                        <br>
                        Thursday - Off
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="google-map-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d110502.60389510548!2d31.32850535184487!3d30.05961847066551!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14583fa60b21beeb%3A0x79dfb296e8423bba!2z2KfZhNmC2KfZh9ix2KnYjCDZhdit2KfZgdi42Kkg2KfZhNmC2KfZh9ix2KnigKw!5e0!3m2!1sar!2seg!4v1679499984112!5m2!1sar!2seg" width="100%" height="400px" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
    </div>
</div>

<div class="contact-message-area mt-100 mb-80">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="form-box contact-form-box">
                    <h3 class="text-center mb-50">Need Our Help! Please Send an Email.</h3>
                    <form action="#">
                        <div class="row">
                            <div class="col-md-5">
                                <input type="text" placeholder="Name..">
                                <input type="email" placeholder="Email..">
                                <input type="text" placeholder="Phone Number..">
                                <input type="text" placeholder="Title..">
                            </div>
                            <div class="col-md-7">
                                <textarea placeholder="Enter message"></textarea>
                            </div>
                            <div class="col-lg-12">
                                <div class="btn-wrapper mt-0">
                                    <button class="btn theme-btn-1 btn-effect-1" type="submit">Send Message</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<app-brands></app-brands>