<div class="breadcrumb-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-inner text-center">
                    <h1 class="page-title">Google Map Locations</h1>
                    <div class="breadcrumb-list">
                        <ul>
                            <li>
                                <a routerLink="/home">Home</a>
                            </li>
                            <li>Google Map Locations</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d110502.60389510548!2d31.32850535184487!3d30.05961847066551!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14583fa60b21beeb%3A0x79dfb296e8423bba!2z2KfZhNmC2KfZh9ix2KnYjCDZhdit2KfZgdi42Kkg2KfZhNmC2KfZh9ix2KnigKw!5e0!3m2!1sar!2seg!4v1679499984112!5m2!1sar!2seg" width="100%" height="400px" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
<div class="google-locations-list-area mt-115 mb-70">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="location-search mb-100">
                    <div class="section-title-area">
                        <h1 class="section-title">
                            Find your nearby location
                            <span>.</span>
                        </h1>
                    </div>
                    <form action="#" class="clearfix">
                        <h3 class="animate__fadeInUp animate__animated">Your State</h3>
                        <div class="input-item">
                            <mat-form-field appearance="fill">
                                <mat-label>Make A Selection</mat-label>
                                <mat-select>
                                  <mat-option *ngFor="let select of selects" [value]="select.value">
                                    {{select.viewValue}}
                                  </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="state-location">
                    <h2 class="state-location-title">Alabama</h2>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="map-item">
                    <h3 class="location-name">Boston, New York</h3>
                    <h5 class="location-single-info">
                        <i class="fas fa-map-marked-alt"></i>
                        5816 S. Coulter Street Amarillo,
                        <br>
                        TX 79119
                    </h5>
                    <h4 class="location-single-info">
                        <i class="fas fa-phone-volume"></i>
                        0123456789
                    </h4>
                    <div class="btn-wrapper">
                        <a href="#" class="btn btn-transparent btn-border">
                            <i class="fas fa-location-arrow"></i>
                            Get An Appointment
                        </a>
                        <a href="#" class="btn btn-transparent btn-border">
                            <i class="fas fa-globe"></i>
                            View Website
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="map-item">
                    <h3 class="location-name">Boston, New York</h3>
                    <h5 class="location-single-info">
                        <i class="fas fa-map-marked-alt"></i>
                        5816 S. Coulter Street Amarillo,
                        <br>
                        TX 79119
                    </h5>
                    <h4 class="location-single-info">
                        <i class="fas fa-phone-volume"></i>
                        0123456789
                    </h4>
                    <div class="btn-wrapper">
                        <a href="#" class="btn btn-transparent btn-border">
                            <i class="fas fa-location-arrow"></i>
                            Get An Appointment
                        </a>
                        <a href="#" class="btn btn-transparent btn-border">
                            <i class="fas fa-globe"></i>
                            View Website
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="map-item">
                    <h3 class="location-name">Boston, New York</h3>
                    <h5 class="location-single-info">
                        <i class="fas fa-map-marked-alt"></i>
                        5816 S. Coulter Street Amarillo,
                        <br>
                        TX 79119
                    </h5>
                    <h4 class="location-single-info">
                        <i class="fas fa-phone-volume"></i>
                        0123456789
                    </h4>
                    <div class="btn-wrapper">
                        <a href="#" class="btn btn-transparent btn-border">
                            <i class="fas fa-location-arrow"></i>
                            Get An Appointment
                        </a>
                        <a href="#" class="btn btn-transparent btn-border">
                            <i class="fas fa-globe"></i>
                            View Website
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="map-item">
                    <h3 class="location-name">Boston, New York</h3>
                    <h5 class="location-single-info">
                        <i class="fas fa-map-marked-alt"></i>
                        5816 S. Coulter Street Amarillo,
                        <br>
                        TX 79119
                    </h5>
                    <h4 class="location-single-info">
                        <i class="fas fa-phone-volume"></i>
                        0123456789
                    </h4>
                    <div class="btn-wrapper">
                        <a href="#" class="btn btn-transparent btn-border">
                            <i class="fas fa-location-arrow"></i>
                            Get An Appointment
                        </a>
                        <a href="#" class="btn btn-transparent btn-border">
                            <i class="fas fa-globe"></i>
                            View Website
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="map-item">
                    <h3 class="location-name">Boston, New York</h3>
                    <h5 class="location-single-info">
                        <i class="fas fa-map-marked-alt"></i>
                        5816 S. Coulter Street Amarillo,
                        <br>
                        TX 79119
                    </h5>
                    <h4 class="location-single-info">
                        <i class="fas fa-phone-volume"></i>
                        0123456789
                    </h4>
                    <div class="btn-wrapper">
                        <a href="#" class="btn btn-transparent btn-border">
                            <i class="fas fa-location-arrow"></i>
                            Get An Appointment
                        </a>
                        <a href="#" class="btn btn-transparent btn-border">
                            <i class="fas fa-globe"></i>
                            View Website
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="map-item">
                    <h3 class="location-name">Boston, New York</h3>
                    <h5 class="location-single-info">
                        <i class="fas fa-map-marked-alt"></i>
                        5816 S. Coulter Street Amarillo,
                        <br>
                        TX 79119
                    </h5>
                    <h4 class="location-single-info">
                        <i class="fas fa-phone-volume"></i>
                        0123456789
                    </h4>
                    <div class="btn-wrapper">
                        <a href="#" class="btn btn-transparent btn-border">
                            <i class="fas fa-location-arrow"></i>
                            Get An Appointment
                        </a>
                        <a href="#" class="btn btn-transparent btn-border">
                            <i class="fas fa-globe"></i>
                            View Website
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="state-location">
                    <h2 class="state-location-title">Boston</h2>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="map-item">
                    <h3 class="location-name">Boston, New York</h3>
                    <h5 class="location-single-info">
                        <i class="fas fa-map-marked-alt"></i>
                        5816 S. Coulter Street Amarillo,
                        <br>
                        TX 79119
                    </h5>
                    <h4 class="location-single-info">
                        <i class="fas fa-phone-volume"></i>
                        0123456789
                    </h4>
                    <div class="btn-wrapper">
                        <a href="#" class="btn btn-transparent btn-border">
                            <i class="fas fa-location-arrow"></i>
                            Get An Appointment
                        </a>
                        <a href="#" class="btn btn-transparent btn-border">
                            <i class="fas fa-globe"></i>
                            View Website
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="map-item">
                    <h3 class="location-name">Boston, New York</h3>
                    <h5 class="location-single-info">
                        <i class="fas fa-map-marked-alt"></i>
                        5816 S. Coulter Street Amarillo,
                        <br>
                        TX 79119
                    </h5>
                    <h4 class="location-single-info">
                        <i class="fas fa-phone-volume"></i>
                        0123456789
                    </h4>
                    <div class="btn-wrapper">
                        <a href="#" class="btn btn-transparent btn-border">
                            <i class="fas fa-location-arrow"></i>
                            Get An Appointment
                        </a>
                        <a href="#" class="btn btn-transparent btn-border">
                            <i class="fas fa-globe"></i>
                            View Website
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="map-item">
                    <h3 class="location-name">Boston, New York</h3>
                    <h5 class="location-single-info">
                        <i class="fas fa-map-marked-alt"></i>
                        5816 S. Coulter Street Amarillo,
                        <br>
                        TX 79119
                    </h5>
                    <h4 class="location-single-info">
                        <i class="fas fa-phone-volume"></i>
                        0123456789
                    </h4>
                    <div class="btn-wrapper">
                        <a href="#" class="btn btn-transparent btn-border">
                            <i class="fas fa-location-arrow"></i>
                            Get An Appointment
                        </a>
                        <a href="#" class="btn btn-transparent btn-border">
                            <i class="fas fa-globe"></i>
                            View Website
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="state-location">
                    <h2 class="state-location-title">New York</h2>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="map-item">
                    <h3 class="location-name">Boston, New York</h3>
                    <h5 class="location-single-info">
                        <i class="fas fa-map-marked-alt"></i>
                        5816 S. Coulter Street Amarillo,
                        <br>
                        TX 79119
                    </h5>
                    <h4 class="location-single-info">
                        <i class="fas fa-phone-volume"></i>
                        0123456789
                    </h4>
                    <div class="btn-wrapper">
                        <a href="#" class="btn btn-transparent btn-border">
                            <i class="fas fa-location-arrow"></i>
                            Get An Appointment
                        </a>
                        <a href="#" class="btn btn-transparent btn-border">
                            <i class="fas fa-globe"></i>
                            View Website
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="map-item">
                    <h3 class="location-name">Boston, New York</h3>
                    <h5 class="location-single-info">
                        <i class="fas fa-map-marked-alt"></i>
                        5816 S. Coulter Street Amarillo,
                        <br>
                        TX 79119
                    </h5>
                    <h4 class="location-single-info">
                        <i class="fas fa-phone-volume"></i>
                        0123456789
                    </h4>
                    <div class="btn-wrapper">
                        <a href="#" class="btn btn-transparent btn-border">
                            <i class="fas fa-location-arrow"></i>
                            Get An Appointment
                        </a>
                        <a href="#" class="btn btn-transparent btn-border">
                            <i class="fas fa-globe"></i>
                            View Website
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="map-item">
                    <h3 class="location-name">Boston, New York</h3>
                    <h5 class="location-single-info">
                        <i class="fas fa-map-marked-alt"></i>
                        5816 S. Coulter Street Amarillo,
                        <br>
                        TX 79119
                    </h5>
                    <h4 class="location-single-info">
                        <i class="fas fa-phone-volume"></i>
                        0123456789
                    </h4>
                    <div class="btn-wrapper">
                        <a href="#" class="btn btn-transparent btn-border">
                            <i class="fas fa-location-arrow"></i>
                            Get An Appointment
                        </a>
                        <a href="#" class="btn btn-transparent btn-border">
                            <i class="fas fa-globe"></i>
                            View Website
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-brands></app-brands>
