<div class="breadcrumb-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-inner text-center">
                    <h1 class="page-title">About Us</h1>
                    <div class="breadcrumb-list">
                        <ul>
                            <li>
                                <a routerLink="/home">Home</a>
                            </li>
                            <li>About Us</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="feature-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class=" feature-wrap ltn__border section-bg-6">
                    <div class="feature-item">
                        <div class="feature-icon">
                         <img src="assets/svg/8-trolley.svg">
                        </div>
                        <div class="feature-info">
                         <h4>Free shipping</h4>
                         <p>On all orders over $49.00</p>
                        </div>
                     </div>
                     <div class="feature-item">
                        <div class="feature-icon">
                         <img src="assets/svg/9-money.svg">
                        </div>
                        <div class="feature-info">
                         <h4>15 days returns</h4>
                         <p>Moneyback guarantee</p>
                        </div>
                     </div>
                     <div class="feature-item">
                        <div class="feature-icon">
                         <img src="assets/svg/10-credit-card.svg">
                        </div>
                        <div class="feature-info">
                         <h4>Secure checkout</h4>
                         <p>Protected by Paypal</p>
                        </div>
                     </div>
                     <div class="feature-item">
                        <div class="feature-icon">
                         <img src="assets/svg/11-gift-card.svg">
                        </div>
                        <div class="feature-info">
                         <h4>Offer & gift here</h4>
                         <p>On all orders over</p>
                        </div>
                     </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="about-us-area pt-90 pb-70">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 align-self-center">
                <div class="about-info">
                    <h2 class="mb-30">Fiama - Powerful Theme for Shop</h2>
                    <p>
                       Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                       sed do eiusmod tempor incididunt ut labore et dolore magna 
                       aliqua. Ut enim ad minim veniam, quis nost exercit ullamco 
                       laboris nisi ut aliquip ex ea commodo consequat. Duis aute 
                       irure dolor in reprehenderit in voluptate velit esse cillum
                       dolore eu fugiat nulla pariatur.
                    </p>
                    <p>
                        Excepteur sint occaecat cupidatat non proident,
                        sunt in culpa qui officia mollit anim id est laborum.
                        Sed ut perspiciatis unde omnis iste natus error sit 
                        voluptatem accusantium doloremque laudantium, totam rem
                        aperiam, eaque ipsa quae ab illo inventore veritatis et 
                        quasi architecto beatae vitae dicta sunt explicabo. 
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="video-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="video-bg-img pt-170 pb-150">
                    <a class="video-icon" href="https://www.youtube.com/embed/J6oDTn_ENto?autoplay=1&showinfo=0">
                        <i class="icon-control-play"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="testimonial-area pt-95 pb-80">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title-area text-center">
                    <h1 class="section-title section-border">client says</h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 offset-lg-2 col-md-12  col-sm-12 col-xs-12">
                <div class="testimonial-7-wrap text-center">
                    <owl-carousel-o [options]="customOptions">
                        <ng-template carouselSlide>
                            <div class="testimonial-item">
                                <div class="testimonial-image">
                                    <img src="assets/images/team11.jpg">
                                </div>
                                <div class="testimonial-info">
                                    <p>
                                       Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                                       sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                       Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris 
                                       nisi ut aliquip ex ea comm consequat. Duis aute irure dolor in 
                                       reprehenderit in voluptate velit esse cillum dolore eu fugiat 
                                       nulla pariatur.
                                    </p>
                                    <h5>Kelian Anderson</h5>
                                    <h6>Our Client</h6>
                                </div>
                            </div>
                        </ng-template>
                        <ng-template carouselSlide>
                            <div class="testimonial-item">
                                <div class="testimonial-image">
                                    <img src="assets/images/team12.jpg">
                                </div>
                                <div class="testimonial-info">
                                    <p>
                                        Ut enim ad minim veniam, quis nostrud exercitation ullamco 
                                        laboris nisi ut aliquip ex ea comm consequat. Lorem ipsum dolor
                                        sit amet, consectetur adipisicing elit, sed do eiusmod tempor 
                                        incididunt ut labore et dolore magna aliqua. Duis aute irure dolor
                                        in reprehenderit in voluptate velit esse cillum dolore eu fugiat 
                                        nulla pariatur.
                                    </p>
                                    <h5>Kelian Anderson</h5>
                                    <h6>Our Client</h6>
                                </div>
                            </div>
                        </ng-template>
                        <ng-template carouselSlide>
                            <div class="testimonial-item">
                                <div class="testimonial-image">
                                    <img src="assets/images/team13.jpg">
                                </div>
                                <div class="testimonial-info">
                                    <p>
                                        voluptate velit esse cillum dolore eu fugiat nulla
                                        pariatur Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                                        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                                        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris 
                                        nisi ut aliquip ex ea comm consequat. Duis aute irure dolor in 
                                        reprehenderit in voluptate velit esse .
                                    </p>
                                    <h5>Kelian Anderson</h5>
                                    <h6>Our Client</h6>
                                </div>
                            </div>
                        </ng-template>
                        <ng-template carouselSlide>
                            <div class="testimonial-item">
                                <div class="testimonial-image">
                                    <img src="assets/images/team14.jpg">
                                </div>
                                <div class="testimonial-info">
                                    <p>
                                        Duis aute irure dolor in reprehenderit in voluptate velit
                                        esse cillum dolore eu fugiat nulla pariatur. Lorem ipsum dolor
                                        sit amet, consectetur adipisicing elit, sed do eiusmod tempor 
                                        incididunt ut labore et dolore magna aliqua. Ut enim ad minim 
                                        veniam, quis nostrud exercitation ullamco laboris nisi ut 
                                        aliquip ex ea comm consequat.
                                    </p>
                                    <h5>Kelian Anderson</h5>
                                    <h6>Our Client</h6>
                                </div>
                            </div>
                        </ng-template>
                    </owl-carousel-o>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="banner-area">
    <div class="container">
       <div class="row justify-content-center">
         <div class="col-md-12 col-sm-12">
             <div class="banner-item">
                 <div class="banner-img">
                     <a routerLink="/shop">
                         <img src="assets/images/banner10.jpg">
                     </a>
                 </div>
             </div>
         </div>
       </div>
    </div>
</div>

<app-slider-news></app-slider-news>

<app-brands></app-brands>
