<div class="breadcrumb-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-inner text-center">
                    <h1 class="page-title">Order Tracking</h1>
                    <div class="breadcrumb-list">
                        <ul>
                            <li>
                                <a routerLink="/home">Home</a>
                            </li>
                            <li>Order Tracking</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="order-area mb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <div class="account-order-inner">
                    <form action="#">
                        <p class="text-center">
                            To track your order please enter your Order ID in the
                            box below and press the "Track Order" button. This was
                            given to you on your receipt and in the confirmation 
                            email you should have received.
                        </p>
                        <label>Order ID</label>
                        <input type="text" placeholder="Found in your order confirmation email.">
                        <label>Billing email</label>
                        <input type="text" placeholder="Email you used during checkout.">
                        <div class="btn-wrapper mt-0 text-center">
                            <button class="btn theme-btn-1 btn-effect-1 text-uppercase" type="submit">Track Order</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>