.logo-item {
    opacity: 1;
    transition: all 0.3s ease 0s;
    margin: 10px 0;

    img {
        transition: all 0.3s ease 0s;
        margin-left: auto;
        margin-right: auto;
        width: auto;
    }
}