<div class="brand-logo-area  section-bg-1 pt-35 pb-35 plr--5">
    <div class="container-fluid">
        <owl-carousel-o [options]="customOptions">
            <ng-template carouselSlide>
                <div class="logo-item">
                    <img src="assets/images/brand1.png">
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="logo-item">
                    <img src="assets/images/brand2.png">
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="logo-item">
                    <img src="assets/images/brand3.png">
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="logo-item">
                    <img src="assets/images/brand4.png">
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="logo-item">
                    <img src="assets/images/brand5.png">
                </div>
            </ng-template>
        </owl-carousel-o>
    </div>
</div>
