<div class="modal-area">
    <div class="modal fade" id="quick_view_modal">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button class="close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="modal-product-item">
                        <div class="row">
                            <div class="col-lg-6 col-sm-12">
                                <div class="modal-product-img">
                                    <img src="assets/images/4.png">
                                </div>
                            </div>
                            <div class="col-lg-6 col-sm-12">
                                <div class="modal-product-info">
                                    <h3 class="animate__animated animate__fadeIn">Pink Flower Tree Red</h3>
                                    <div class="product-price-ratting mb-20">
                                        <ul>
                                            <li>
                                                <div class="product-price">
                                                    <span>$49.00</span>
                                                    <del>$65.00</del>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="product-ratting">
                                                    <ul>
                                                        <li><a href="#"><i class="icon-star"></i></a></li>
                                                        <li><a href="#"><i class="icon-star"></i></a></li>
                                                        <li><a href="#"><i class="icon-star"></i></a></li>
                                                        <li><a href="#"><i class="icon-star"></i></a></li>
                                                        <li><a href="#"><i class="icon-star"></i></a></li>
                                                        <li class="review-total">
                                                            <a href="#"> ( 95 Reviews )</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="modal-product-brief">
                                        <p>
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                                            Dignissimos repellendus repudiandae incidunt quidem pariatur
                                            expedita, quo quis modi tempore non.
                                        </p>
                                    </div>
                                    <div class="modal-product-meta mb-20">
                                        <ul>
                                            <li>
                                                <div class="color-widget">
                                                    <strong class="d-meta-title">Color</strong>
                                                    <ul>
                                                        <li class="theme">
                                                            <a href="#"></a>
                                                        </li>
                                                        <li class="green-2">
                                                            <a href="#"></a>
                                                        </li>
                                                        <li class="blue-2">
                                                            <a href="#"></a>
                                                        </li>
                                                        <li class="white">
                                                            <a href="#"></a>
                                                        </li>
                                                        <li class="red">
                                                            <a href="#"></a>
                                                        </li>
                                                        <li class="yellow">
                                                            <a href="#"></a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="size-widget mt-25">
                                                    <strong class="d-meta-title">Size</strong>
                                                    <ul>
                                                        <li>
                                                            <a href="#">S</a>
                                                        </li>
                                                        <li>
                                                            <a href="#">M</a>
                                                        </li>
                                                        <li>
                                                            <a href="#">L</a>
                                                        </li>
                                                        <li>
                                                            <a href="#">XL</a>
                                                        </li>
                                                        <li>
                                                            <a href="#">XXL</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="product-details-menu product-cart-wishlist-btn mb-30">
                                        <ul>
                                            <li>
                                                <div class="cart-plus-minus">
                                                    <div class="dec qtybutton">-</div>
                                                    <input type="text" value="02" name="qtybutton" class="cart-plus-minus-box">
                                                    <div class="inc qtybutton">+</div>
                                                </div>
                                            </li>
                                            <li>
                                                <a href="#" role="button" class="theme-btn-1 btn d-add-to-cart" a href="#" data-bs-toggle="modal" data-bs-target="#add_to_cart_modal">
                                                    Add to cart
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" role="button" class="btn d-add-to-wishlist">
                                                    <i class="icon-heart"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="social-media mb-30">
                                        <ul>
                                            <li class="d-meta-title">Share:</li>
                                            <li>
                                                <a href="facebook.com">
                                                    <i class="icon-social-facebook"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="twitter.com">
                                                    <i class="icon-social-twitter"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="linkedin.com">
                                                    <i class="icon-social-linkedin"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="instagram.com">
                                                    <i class="icon-social-instagram"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
