@import './variables.scss';

body {
    color: $body-color;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    font-family: $body-font;
    line-height: 1.8;
    margin: 0 auto;
}

.section-bg-6 {
    background-color: #fdfdfd;
}