@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

$paragraph-color:#000;
$paragraph-font:'Poppins', sans-serif;
$body-font:'Montserrat' , sans-serif;
$body-color:#666666;
$heading-color:#010101;
$main-color:#565656;
$secondary-color:#E55472;